html {
  font: normal 100%/1.5 Roboto, Arial, sans-serif; /* 1.200 Minor Third*/
  line-height: 1.5;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/*Links*/
a:link { color: black; text-decoration: none;}
a:visited { color: black; }
a:hover {
  opacity: 1;
  color: #e78e8e;
  -webkit-transition:all 0.01s linear;
  -moz-transition:all 0.01s linear;
  -o-transition:all 0.01s linear;
  transition:all 0.01s linear;
}

h1, h2, h3, h4, h5, h6, p, a, li {
    line-height: 1.5;
}

h1 { font-size: 2.4888em; }
h2 { font-size: 2.074em; }
h3 { font-size: 1.728em; }
h4 { font-size: 1.44em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1em; }

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Navigation styling*/

.icon-bar{ display: inline; }

.icon-bar {
  width: 100%;
  background-color: white;
  overflow: auto;
  display: flex;
  justify-content: space-around;
  box-shadow: 1px 1px 1px #d3d3d3;
}

.icon-bar a {
  float: right;
  text-align: center;
  width: 5%;
  transition: all 0.3s ease;
  color: #d3d3d3;
  font-size: 1.5em;
  padding: 1em;
}

.icon-bar a:hover, .icon-bar a.active{
  color: grey;
}

/*Upload profile picture*/

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

input#file {
  display: inline-block;
  width: 100%;
  padding: 120px 0 0 0;
  height: 100px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

/*Media Queries*/

/*SMALL*/
@media (min-width: 300px) {
  html { background: white; }

/* profile*/
  .profile {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 5%;
  }

  .upload-profile{
    position: relative;
  }

  #profile-pic {
    padding: 0;
    width: 100%;
    border-radius: 50%;
  }

  .profile-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10em;
    height: 10em;
    background: rgba(0,0,0,.6);
  }

  .info {
    margin-left: 8%;
  }

  #myBtn, .follow {
    width: 80%;
    margin-top: .5em;
    padding: .5em;
    background-color: white;
    border: 1px solid #d3d3d3;
    color: grey;
    text-align: center;
  }

  #myBtn:hover {
    background-color: grey;
    color: white;
  }

  .see-followers {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    background-color: rgba(211, 215, 213, .5);
    height: 10%;
    margin: .5em auto;
    padding: 1em;
    width: 90%;
  }

  .follower-content {
    overflow-y: auto;
  }

  h4{
    text-align: center;
    margin-top: .5em
  }

  /* Modal background */
  .modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.6);
  }

  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: 0 auto;
    padding: 20px;
    height: 100%;
    overflow-y: auto;
  }

  /* Close Button */
  .close, .close2, .close3 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: fixed;
  }

  .close:hover, .close2:hover, .close3:hover,
  .close:focus, .close2:focus, .close3:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .boxes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .box {
    width: 100%;
    padding: 1em 0;
    border-top: 1px solid rgba(211,211,211, .5);
    border-bottom: 1px solid rgba(211,211,211, .5);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .box p { color: grey; }

  .box2 {
    padding-top: 1em;
    border: none;
    border-bottom: 1px solid rgba(211,211,211, .2);
  }

  .underline a:hover, .underline a.active {
    border-bottom: solid 2px black;
  }

  .box img {
    width: 20%;
  }

  .photo, .post-photo {
    width: 100%;
  }

/*edit profile*/
  .edit{
    width: 100%;
    padding-top: 1em;
  }

  #edit-profile-pic{
    width: 30%;
    margin-left: 35%;
    padding: .25em;
  }

  .edit p{
    text-align: center;
    padding: .5em;
  }

/*  Form styling*/
  .form-title{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  input[type=text], input[type=password], textarea, select {
    width: 100%;
    padding: 12px 15px;
    font-size: 1em;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgba(211, 215, 213, .5);
  }

  input[type=submit] {
    width: 100%;
    font-size: 1em;
    background-color: #666;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: grey;
  }

  .form-style{
    background-color: white;
    width: 70%;
    margin: 0 auto;
    box-shadow: 1px 1px 1px #d3d3d3;
  }

  .form{
    border-radius: 5px;
    padding: 2em;
  }

  .errors{
    background-color: pink;
  }

  /*.camera{
    background-color: grey;
    width: 100%;
    height: 40%;
  }*/

  .container {
    position: relative;
    width: 80%;
  }
}


/*MEDIUM*/
@media (min-width: 600px) {

  header{ display: none; }
  .icon-bar {
    justify-content: flex-end;
  }

  .profile{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    height: 100%;
    width: 35%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #d3d3d3;
    overflow-x: hidden;
  }

  .profile p{
    padding: .5em 1em;
  }

  #myBtn{
    border: none;
    margin: 5%;
  }

  /* Modal Content */
  .modal-content {
      background-color: #fefefe;
      border-radius: 5px;
      margin: 10% auto;
      padding: 20px;
      width: 60%;
      height: 50%;
  }

  .profile-nav{
    width: 55%;
    margin: 2% 5% 0 40%;
    border-bottom: 1px solid rgba(211,211,211, .5);
  }

  .profile-nav.underline{
    margin-bottom: 2em;
  }

  .followers{
    width: 55%;
    margin: 5% 5% 0 40%;
    background-color: white;
    border-radius: 10px;
    padding: .25em
  }

  .box img{
    width: 20%;
  }

  #profile-pic{
    width: 60%;
    height: auto;
    padding: 5%;
    margin-top: 5em;
  }

  .boxes.followers{
    margin-bottom: 1em;
    border: 1px solid #d3d3d3;
  }

  .box{
    border: none;
    padding: .5em 0;
  }

  .photo{
    width: 60%;
    margin-left: 37.5%;
  }

  .post{
    background-color: blue;
    margin: 1em;
  }

  .post-photo{
    width: 60%;
    margin: 0 20%;
  }

  #profile-pic-small{
    width: 15%;
    left: 25%;
  }

  #edit-profile-pic{
    width: 15%;
    margin: 0 42.5%;
  }

  input[type=text], input[type=password], textarea, select, input[type=submit] {
    width: 60%;
    margin: 1% 20%;
  }

  .container {
    position: relative;
    width: 50%;
  }
}

/*LARGE*/
@media (min-width: 960px) {

  .profile{
    justify-content: center;
    width: 25%;
  }

  #profile-pic{
    width: 60%;
    margin: 0;
  }

  .boxes{
    max-width: 60%;
  }

  .followers{
    margin: 2% 0 0 32%;
  }

  .profile-nav{
    width: 75%;
    margin: 1% 5% 0 30%;
  }

  .box img{
    width: 10%;
  }

  .photos{
    display: flex;
    flex-direction: row;
    margin-left: 30%;
    width: 60%;
  }

  .photo{
    width: 95%;
    margin: 0;
  }

   #profile-pic-small{
    width: 15%;
    left: 25%;
  }

  #edit-profile-pic{
    width: 10%;
    margin: 0 45%;
  }

  .see-followers{
    width: 60%;
  }

  input[type=text], input[type=password], textarea, select, input[type=submit] {
    width: 40%;
    margin: 1% 30%;
  }

}

@media (min-width: 600px) and (orientation: landscape){

}

*{
    -webkit-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
    transition:all 0.5s ease;
}